<div class="container">
  <form id="tweet" action="/tweet" method="post">
    <input type="text" name="tweet" placeholder="Write you tweet here!">
    <input type="submit" value="Tweet!">
  </form>

  <div id="success_message">
    Your tweet was sent! 
  </div>
</div>
